<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>488460688254-o6kgengdn5jgg6jrhg0r3uiq72kurje7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.488460688254-o6kgengdn5jgg6jrhg0r3uiq72kurje7</string>
	<key>API_KEY</key>
	<string>AIzaSyCjLCJxQb9ARvWdgmyr9-KuJemt6th6QEk</string>
	<key>GCM_SENDER_ID</key>
	<string>488460688254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.healstation.AutismLove</string>
	<key>PROJECT_ID</key>
	<string>mysintak</string>
	<key>STORAGE_BUCKET</key>
	<string>mysintak.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:488460688254:ios:630829db3d12f1fa0cf12f</string>
</dict>
</plist>